body {
   /* display: flex;
*/    background-color: black;
}

h1, p, h3 {
    color: whitesmoke;
}

img {
    width: 100vh;
    height: 75vh;
}

.hidden {
    display: none !important;
}

.adventure-start {
    background-color: black;
    color: green;
    border-color: antiquewhite;
}

.health-bar {
    text-align: right;
}

