body {
   /* display: flex;
*/    background-color: black;
}

h1, p, h3 {
    color: white !important;
}

img {
    display: flex;
    width: 100%;
    height: 75vh;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.adventure-start {
    background-color: black;
    color: lightgreen;
    border-color: antiquewhite;
}

a {
    text-decoration: none !important;
    padding-bottom: 0;
    color: white !important;
}

.health-bar {
   text-align: end;
}

#input-name {
    color: whitesmoke;
}

.health-change {
    opacity: 0.5;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: content-box;
}

.modal-style {
    background-color: black !important;
    color: white !important;
}

 @media screen and (max-width: 576px) {
    img {
        height: 100%;
        padding-bottom: 0;
    }
}
