body {
   /* display: flex;
*/    background-color: black;
}

h1, p {
    color: whitesmoke;
}

img {
    width: 100vh;
    height: 75vh;
}

.hidden {
    display: none;
}

.adventure-start {
    background-color: black;
    color: green;
    border-color: antiquewhite;
}

